html,
body {
    padding: 0;
    margin: 0;
    font-family: system-ui, Roboto, "Playfair Display", serif;
    background: linear-gradient(170deg, #0891B2, #0891B2 20%, white 20.1%, white 100%);
    overflow: auto;
}

h1 {
    font-family: "Playfair Display", serif;
    font-weight: 500;
    margin: 0;
}

h2 {
    font-family: "Playfair Display", serif;
    font-weight: 500;
    margin: 0;
    font-size: 1.3em;
}

i {
    font-size: 1.3em;
}

.main-desc {
    font-family: Roboto;
    line-height: 150%;
}

.description {
    font-family: Roboto;
    font-size: 0.8em;
}

.content {
    margin: 40px 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading {
    display: flex;
    align-items: center;
    max-width: 1000px;
}

.main-image {
    height: 350px;
    width: 100%;
    object-fit:cover;
    box-shadow: 1px 3px 7px rgba(0,0,0,0.2);
}

.heading-content {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: white;
    margin: 30px 0px;
    box-shadow: 1px 3px 7px rgba(0,0,0,0.2);
}

.works-section {
    margin: 100px 0px;
    max-width: 1500px;
}

.screenshots {
    height: 200px;
    display: flex;
    flex-direction: column;
    font-family: "Playfair Display", serif;
    color: white;
    font-size: 2em;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.icons {
    margin-top: 10px;
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 15px;
}

.works {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(3, minmax(50px, 1fr));
    gap: 20px;
}

.project {
    display: flex;
    flex-direction: column;
    box-shadow: 1px 3px 7px rgba(0,0,0,0.2);
}

.project-content {
    padding: 10px 20px;
    height: 120px;
}

.title-icons {
    display: flex;
    align-items: center;
}

.screenshot-1  {
    background-color: tomato;
}

.screenshot-2  {
    background-color: purple;
}

.screenshot-3  {
    background-color: green;
}

.screenshot-4  {
    background-color: pink;
}

.screenshot-5  {
    background-color: rgb(218, 176, 39);
}

.screenshot-6  {
    background-color: lightblue;
}

footer {
    background-color: #0891B2;
    padding: 40px;
    display: flex;
    justify-content: center;
}

.footer-container {
    color: white;
    padding-right: 10px;
    max-width: 1000px;
}

.footer-location {
    margin: 0;
}

.phone, 
.email {
    display: flex;
    align-items: center;
}

.footer-svg {
    filter:invert(100%)
}

.phone-number,
.email-text {
    margin-left: 10px;
}

.footer-icons {
    margin-top: 10px;
    display: flex;
    gap: 20px;
    font-size: 1.3em;
    filter:invert(100%)
}

.footer-image{
    height: 300px;
    width: 500px;
    object-fit:cover;
    object-position: 50% 100%;
}

@media (max-width:1000px) {
    
    .content {
        margin: 80px 10%;
    }

    .icons.title {
        display: none;
    }

    .heading {
        display: block;
        margin: 40px 0;
        background-color: white;
        box-shadow: 1px 3px 7px rgba(0,0,0,0.2);
    } 

    .main-desc {
        font-family: Roboto;
        line-height: 150%;
        font-size: 1.2em;
        
    }

    .main-image {
        height: 300px;
        width: 300px;
        float: inline-start;
        margin: 0px;
        transform: scale(1.15) translate(-30px, -50px) ;
        z-index: 2;
        position: relative;
    }

    .heading-content {
        display: block;
        flex-direction: column;
        padding: 20px;
        background-color: white;
        margin: 30px 0px;
        margin-top: 100px;
        box-shadow: none;
        transform: translateY(-50px);
        z-index: 1;
    }

    .heading-content>h1 {
        text-align: center;
    }

    .works {
        margin-top: 10px;
        display: grid;
        grid-template-columns: repeat(2, minmax(50px, 1fr));
        gap: 40px;
    }
}

@media (max-width:500px) {
    html,
    body {
        background: linear-gradient(160deg, #0891B2, #0891B2 7%, white 7.1%, white 100%);
    }

    .content {
        margin: 40px 6%;
    }

    .heading {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .heading-content {
        flex-direction: column;
        padding: 0px;
        margin: 30px 0px;
        background-color: transparent;
        box-shadow: none;
        align-items: center;
        transform: translate(0,0);
    }

    .main-image {
        height: 350px;
        width: 100%;
        object-fit:cover;
        position: relative;
        
    }

    .heading-content > .icons {
        margin-top: 10px;
        font-size: 1.3em;
        margin-left: 0;
        display: flex;
        justify-items: center;
        gap: 15px;
    }

    .icons {
        margin-top: 0;
    }

    .main-desc {
        line-height: 170%;
    }

    .works-section {
        margin: 50px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .works {
        margin-top: 20px;
        display:flex;
        flex-direction: column;
        gap : 50px;
    }

    footer {
        padding: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .footer-container {
        padding: 20px;
    }

    .footer-title {
        text-align: center;
    }

    .footer-svg {
        display: none;
    }

    .phone-number,
    .email-text {
        margin: 0px;
    }

    .footer-desc {
        margin-bottom: 30px;
        font-size: 1.1em;
    }

    .footer-numcontainer {
        margin-top: 30px;
    }

    .footer-icons {
        margin-top: 30px;
        justify-content: center;
        gap: 20px;
        font-size: 1.8em;
    }

    .footer-image{
        margin-top: 30px;
        height: 400px;
        width: 100%;
        object-fit: cover;
    }
}

